#calculator {
    max-width: 500px;
    border-radius: 15px;
    overflow: hidden;
}

#display-box {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    font-family: Comic Sans MS, sans-serif;
    border: none;
    
}

button.operator,  button.number {
    width: 80px;
    height: 80px;
    font-size: 60px;
    font-family: Comic Sans MS, sans-serif;
    text-align: center;
    border: none;
    border-radius: 10px;
}

button.bigger {
    width: 80px;
    height: 80px;
    font-size: 35px;
    font-family: Comic Sans MS, sans-serif;
    text-align: center;
    border: none;
    border-radius: 10px;
}

body {
   font-family: Comic Sans MS, sans-serif;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 25px;
}